{# templates/modales/agenda.html.twig #}

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="gridModalLabel">Agenda pour une mjc avec notifications d'absence</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		</div>
        <div class="row modal-row">
            <div class="col-12 col-md-8 image">
                <img class="card-img-top" src="images/agenda.png" alt="Agenda">
            </div>
            <div class="col-sm-12 text-card">
            <p><span class="badge badge-secondary bold">Date : </span> 2017 </p>
            <p><span class="badge badge-secondary bold">Objectif : </span> Proposer un agenda clair aux adhérents et faire le lien entre les profs et élèves d'une mjc </p>
            <p><span class="badge badge-secondary bold">Stack utilisé : </span> Symfony pour le back et Réact pour le front, le tout lié avec Ajax </p>
            <p><span class="badge badge-secondary bold">Outils utilisés </span> Doctrine, Twig, Git, Slack </p>
            <p><span class="badge badge-secondary bold">Lien et logs : </span> Vous pouvez vous connecter en tant qu'admin sur <a href="http://mjc.hugolo.fr/">mjc.hugolo.fr</a></p>
            </div>
        </div>
    </div>
  </div>
</div>
