<div class="modal fade bd-example-modal-lg replay" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="gridModalLabel">Site php</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		</div>
        <div class="row modal-row">
            <div class="col-12 col-md-8 image">
                <img class="card-img-top" src="images/replay/admin.png" alt="stickers">
            </div>
            <div class="col-sm-12 text-card">
            <p><span class="badge badge-secondary bold">Date : </span> 2011 </p>
            <p><span class="badge badge-secondary bold">Objectif : </span> Faire un mini site pour une association. </p>
            <p><span class="badge badge-secondary bold">Stack utilisé : </span> Php procédural</p>
            <p><span class="badge badge-secondary bold">Infos supplémentaires : </span> Système d'authentification admin pour l'ajout d'article et de photos dans plusieurs catégories. (Le site à depuis été repris en wordpress) </p>
            <p><span class="badge badge-secondary bold">Lien vers mes tests d'époque: </span>  <a href="http://freifrei.fr/Replay">freifrei.fr/Replay</a> (soyez indulgents, de l'eau est passé sous les ponts)</p>
            <p><span class="badge badge-secondary bold">Lien vers le nouveau site: </span>  <a href="http://association-replay.fr/Replay">Association Replay</a></p>
            </div>
        </div>
    </div>
  </div>
</div>
