<div class="modal fade bd-example-modal-lg sticker" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="gridModalLabel">Stickers personnalisables</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		</div>
        <div class="row modal-row">
            <div class="col-12 image">
                <img class="card-img-top" src="images/stickers/devisAutocollants.png" alt="stickers">
            </div>
            <div class="col-sm-12 text-card">
            <p><span class="badge badge-secondary bold">Date : </span> 2013 </p>
            <p><span class="badge badge-secondary bold">Objectif : </span> Prix du sticker varialbe en fonction des choix du client</p>
            <p><span class="badge badge-secondary bold">Stack utilisé : </span> Php procédural + module prestashop</p>
            <p><span class="badge badge-secondary bold">Lien et logs : </span>  <a href="http://freifrei.fr/FormulaireAdmin/">Formulaire</a></p>
            </div>
        </div>
    </div>
  </div>
</div>
