<div class="modal fade bd-example-modal-lg vannerie" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="gridModalLabel">Site e-commerce</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		</div>
        <div class="row modal-row">
            <div class="col-12 image">
                <img class="card-img-top" src="images/vannerie.png" alt="la vannerie d'aujourdhui">
            </div>
            <div class="col-sm-12 text-card">
            <p><span class="badge badge-secondary bold">Date : </span> 2013 </p>
            <p><span class="badge badge-secondary bold">Objectif : </span> Prix du sticker varialbe en fonction des choix du client</p>
            <p><span class="badge badge-secondary bold">Stack utilisé : </span> Php procédural + module prestashop</p>
            <p><span class="badge badge-secondary bold">Informations complémentaires : </span> Installation de Prestashop, modifications de modules, Import en masse de produits et tag via csv  </p>
            <p><span class="badge badge-secondary bold">Lien : </span> <a href="http://lavanneriedaujourdhui.fr/">La vannerie d'aujour'hui</a></p>
            </div>
        </div>
    </div>
  </div>
</div>
