{# templates/main/autres-experiences.html.twig #}

{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
<div class="title">
  <h2>expériences</h2>
</div>
  <div class="row">
  <div class="row">
    <div class="col-12 col-md-8  text">
        <div class="paragraph">
            <div class="date">
                2015
            </div>
            <h3>Assistante gestion flotte <a href="http://otis.com/">Otis</a>
            </h3>
            <p>
        Spécialisation POO php, Symfony.
        Réalisation d’une application Agenda pour une mjc Symfony/React en
        équipe pour le projet de fin d’étude. Base de donnée, notification d’absences
        prof/élèves, enregistrement automatique de toutes le leçons de l’année en
        cours, ajout d’observations pour un cours... à voir sur mjc.hugolo.fr :
        login/password : admin/admin
            </p>
        </div>
        <div class="paragraph">
            <div class="date">
                2011
            </div>
            <h3>Webmaster,  <a href="http://www.new-vox-langres.com/">Le new Vox</a>
            </h3>
            <p>
        Accueil des clients, entretien des salles, gestion des KDM, caisse.
            </p>
        </div>
        <div class="paragraph">
            <div class="date">
                2007 2011
            </div>
            <h3>Infographiste exe  <a href="http://www.ippac.fr">Ippac</a>
            </h3>
            <p>
                N'ayant pas obtenu mon bac, je ne vais pas m'attarder sur cette période de ma vie, mais juste dire que j'ai appris
                ici l'écriture de scénario, la prise de vue, et le montage vidéo. Réalisation de courts métrages pour le bac.
            </p>
        </div>
        <div class="paragraph">
            <div class="date">
                2004 2007
            </div>
            <h3>Opérateur pao  <a href="http://www.imprimerie-chmpagne.fr">Imprimerie de Champagne</a>
            </h3>
            <p>
                N'ayant pas obtenu mon bac, je ne vais pas m'attarder sur cette période de ma vie, mais juste dire que j'ai appris
                ici l'écriture de scénario, la prise de vue, et le montage vidéo. Réalisation de courts métrages pour le bac.
            </p>
        </div>


    </div>


    <div class="col-12 col-md-4 image">
      <img src="{{ asset('images/tonneau.png') }}" alt="tonneau">
    </div>
  </div>
</div>



{% endblock %}
