{# templates/main/footer.html.twig #}

<link href="{{ asset('css/footer.css') }}" rel="stylesheet" />

<footer id="footer">
    <p>
        ©2018<br>
        Séverine Coyer & Loïse Coyer Lira
    </p>
</div>
