{# templates/main/formations.html.twig #}

{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="title">
            <h2>expériences</h2>
        </div>
        <div class="row">
            <div class="col-md-8 text">
                <div class="paragraph">
                    <div class="date">
                        2018
                    </div>
                    <h3>Développeuse informatique
                        <a href="http://ibitux.com/">Ibitux</a>
                    </h3>
                    <p>
                        Création d'un mini site avec le framework Yii2 (POO, php)
                    </p>
                </div>
                <div class="paragraph">
                    <div class="date">
                        2012
                    </div>
                    <h3>Webmaster,
                        <a href="http://www.publigraphix.com/">PubligraphiX</a>
                    </h3>
                    <p>
                        Html, css, php et ActionScript Les bases de la création d'un site simple en php en formation et le déploiement d'un site Prestashop avec intégration par lot csv, référencement et la modification de modules.
                    </p>
                </div>
                <div class="paragraph">
                    <div class="date">
                        2007 2011
                    </div>
                    <h3>Infographiste exe
                        <a href="http://www.ippac.fr">Ippac</a>
                    </h3>
                    <p>
                        Mise en page avec InDesign, gestion des feuilles de style imbriquées et automatisation avec GREP et scripts. Retouches d'images et détourage photoshop, tracés Illustrator. Vérification pdf avant impression.
                         Gestion des pdf pour print ou web. Vous pouvez voir quelques unes de mes mises en page
                       <a href="http://www.freifrei.fr">ici</a>.
                    </p>
                </div>
                <div class="paragraph">
                    <div class="date">
                        2004 2007
                    </div>
                    <h3>Opérateur pao
                        <a href="http://www.imprimerie-champagne.fr">Imprimerie de Champagne</a>
                    </h3>
                    <p>
                        Imposition, flashage, mise en page XPress et Indesign et modification pdf pour optimisation à l'impression. Petit entretien CTP.
                    </p>
                </div>
            </div>

            <div class="col-md-4 image">
                <img src="{{ asset('images/lapin.png') }}" alt="dessin lapin">
            </div>
        </div>
    </div>

{% endblock %}
