{# templates/main/savoir-faire.html.twig #}

{% extends 'base.html.twig' %}
{% block body %}

<div class="container">
<div class="title">
  <h2>Savoir-faire</h2>
</div>
  <div class="row">
    <div class="col-12 col-md-8 text">
    <p>
      Conception d'une application en php, avec base de donnée relationnelle. Programmation orientée objet avec Symfony.
      Connaissance de Prestashop et de wordPress.
    </p>
    <p>
        Connaissance de la chaîne graphique, relecture, corrections clients.
        Bonne capacité à travailler dans le stress, avec des délais.
      Mise en page avec InDesign, gestion des feuilles de style imbriquées et automatisation avec GREP.
      Vous pouvez voir quelques unes de mes mises en page <a href="http://www.freifrei.fr">ici</a>.
      Gestion des pdf pour print ou web. Photoshop : retouches photos, détourage, optimisation.
      Tracés illustrator.
    </p>
    <p>
       Mise à jour de bases de données, scripts out
    </p>
    </div>

    <div class="col-12 col-md-4 image">
     <img src="{{ asset('images/competences.svg') }}" alt="competences">
    </div>
  </div>
</div>



{% endblock %}
