{# templates/main/savoir-faire.html.twig #}

{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <div class="title">
            <h2>Compétences</h2>
        </div>
        <div class="row">
            <div class="col-md-8 text">
                <p>
                    <img class="opquast" src="images/opquast.svg" alt="Certification Opquast niveau confirmé">
                    <a href="https://certificates.opquast.com/certificate/56G3UY/">
                        Certification Opquast</a> niveau confirmé

                </p>
                <p>
                     Programmation orientée objet avec Symfony, Doctrine, Twig, Bootstrap. Conception d'une application en php, avec base de donnée relationnelle, authentification.
                     Connaissance de Prestashop et de wordPress.
                </p>
                <p>
                    Connaissance de la chaîne graphique, relecture, corrections clients. Bonne capacité à travailler dans le stress, avec des délais. Mise en page avec InDesign, gestion des feuilles de style imbriquées et automatisation avec GREP. Vous pouvez voir
                    quelques unes de mes mises en page
                    <a href="http://www.freifrei.fr">ici</a>. Gestion des pdf pour print ou web. Photoshop : retouches photos, détourage, optimisation. Tracés illustrator.
                </p>

            </div>
            <div class="col-12 col-md-4 image">
                <img src="{{ asset('images/jump2.svg') }}" alt="competences">
            </div>
        </div>
    </div>

{% endblock %}
