#main-container {
    background-color: RGBA(204, 204, 204, 100);
    border-radius: 30px;
    margin: 0.2em auto;
    width: 100%;
    min-height: 90vh;
    padding-top: 1.5em;
    min-width: 97%;
}

.container a {
    color: #9b59b6;
}

.title {
    font-variant: small-caps;
    color: #ababab;
}

.title h2 {
    font-size: 3rem;
    font-weight: 700;
}



.image {
    margin-bottom: 0.3em;
}

textarea {
    min-height: 200px !important;
}

.text {
    padding: 1.5em;
    font-size: 1em;
    width: 100%;
}

.image img, ul {
    width: 100%;
}

.image img, .text {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.image {
    padding-top: 2em;
    display: inline-grid;
}


@media (min-width: 576px) and (max-width:800px) {
    .col-md-5.card {
        min-width: 44%;
    }
}

.btn-card {
    margin-bottom: 0.5em;
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: @screen-md-min) {
    .card {
        margin: auto;
    }
    .container, .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 800px) {
    .title h2 {
        font-size: 5rem;
        font-weight: 700;
    }
    #my-name h1 {
        font-size: 4em;
        z-index: 10;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: : 1;
    }
}

.btn-primary, .btn-success {
    color: #fff;
    background-color: #444;
    border-color: #6c757d;
    /*set the color you want here*/
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #4faca4;
    border-color: #6c757d;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-success.active, .open>.dropdown-toggle.btn-primary, .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #4faca4;
    border-color: #6c757d;
}

.date, .opquast {
    display: inline;
    position: relative;
    border-radius: 10px;
    left: -1em;
    top: 0.3em;
    text-align: center;
    max-width: 88px;
    height: auto;
    padding: 6px;
    font: normal normal bold 12px/1 Arial Black, Gadget, sans-serif;
    color: white;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transform: rotateZ(-13deg);
    transform: rotateZ(-13deg);
    animation-timing-function: cubic-bezier(.73, .62, .08, .7);
    animation-duration: 1s;
    animation-name: slidein;
    animation-iteration-count: 1;
    transform-origin: center;
}

.date {
    background: #9b59b6;
    -webkit-box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 2px 4px 2px 0 rgba(0, 0, 0, 0.4);
}

.opquast::after {
    content: "<- maintenant, cela *est* intéressant !";
 color: green;
}

@keyframes slidein {
    0% {
        top: -1em;
        left: -1em;
    }
    100% {
        top: -0.2em;
        left: -1em;
    }
}


.card {
    margin-bottom: 1em !important;
    box-shadow: 5px 5px 16px 1px rgba(0, 0, 255, .2);
    text-align: center;
    /* width: 15rem!important; */
}

.card-img-top {
    margin-top: 1.2em;
}

.text-card {
    margin: 0.5em;
}
