<html>
    <body>
        <p>Bonjour,ceci est un message de {{ mail.name }}</p>
        </br>
        <p>
        <strong style="color:REBECCAPURPLE">Message : </strong>{{ mail.message }}
        </br>
        <strong style="color:REBECCAPURPLE">Email : </strong>{{ mail.email }}
        </p>
    </body>
</html>
